<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick Your Favorite</title>
    <link rel="stylesheet" href="inlog.css">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button onclick="attemptLogin()">Login</button>
        <p id="error-message" style="color: red; display: none;"></p>
    </div>

    <script src="../View/login.js"></script>
</body>
</html>
